html, body { scroll-behavior:smooth; }

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container:before,
.w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-container:after {
  clear: both;
}

@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}

@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}

.w-richtext:before,
.w-richtext:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-richtext:after {
  clear: both;
}

.w-richtext[contenteditable="true"]:before,
.w-richtext[contenteditable="true"]:after {
  white-space: initial;
}


.w-richtext ul {
  overflow: hidden;
}

.w-richtext figure {
  position: relative;
  max-width: 60%;
}

.w-richtext figure>div:before {
  cursor: default !important;
}

.w-richtext figure img {
  width: 100%;
}

.w-richtext figure div {
  font-size: 0;
  color: transparent;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.c-article-social-list__icon--inline path{
  fill: #069;
}
body {
  font-family: "Harding", "Palatino", "serif";
  color: #333;
  font-size: 18px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
  color: #333;
  font-weight: 500;
}

strong {
  font-weight: bold;
}

.section__hero {
  min-height: 100vh;
}

.head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.head-title__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.quote-decore {
  width: 25px;
  margin-right: 15px;
  background-color: #d40000;
}

.post-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Harding", "Palatino", "serif";
}

.date__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.date-text {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
}

.head-line {
  width: 100%;
  height: 1px;
  max-width: 1200px;
  margin-top: 20px;
  background-color: #ddd;
}

.red-place {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 35px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d40000;
  color: #fff;
}

.bock-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.post_img {
  width: 100%;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.list {
  margin-top: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 20px;
  line-height: 1.7;
}

.p-text-post {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.button {
  margin-right: 15px;
  padding: 15px 60px;
  border-radius: 5px;
  background-color: #d40000;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 20px;
}

.button:hover {
  background-color: #9a0000;
}

.list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.7;
}

.page__container {
  max-width: 900px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.autor {
  padding-left: 27px;
  background-image: url("../fonts/5f7789433401afc527217153_Group%203.svg");
  background-position: 0% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  color: #adadad;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
}

.title-date-wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.date-public {
  margin-left: 20px;
  padding-left: 25px;
  background-image: url("../fonts/5f7789433401af1bc9217148_Group%204.svg");
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  color: #adadad;
  font-size: 18px;
  font-weight: 600;
}

.subtitle-news {
  margin-bottom: 20px;
  color: #d40000;
  font-size: 30px;
  line-height: 1.3;
  font-weight: 600;
}

.image-news {
  display: block;
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
}

.news-quote {
  max-width: 700px;
  margin-top: 15px;
  margin-bottom: 40px;
  border-left-width: 8px;
  border-left-color: #d40000;
  color: #616161;
  font-size: 20px;
  line-height: 1.4;
  font-style: italic;
}

.text-span {
  color: #d40000;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
}

.heading {
  margin-bottom: 20px;
  font-family: "Harding", "Palatino", "serif";
  color: #000;
  font-size: 22px;
  line-height: 1.4;
  font-weight: 700;
}

.img-description {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 600;
}

.tablet {
  margin-bottom: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border-style: solid;
  border-width: 1px;
  border-color: #adadad;
}

.tablet._3coll {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell-title_tablet {
  padding: 15px 10px;
  border-bottom: 1px solid #adadad;
}

.cell-title_tablet.center {
  border-right: 1px solid #adadad;
  border-left: 1px solid #adadad;
}

.cell-title_tablet.border {
  border-right: 1px solid #adadad;
}

.title_tablet {
  color: #d40000;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}

.content_tablet {
  padding: 10px;
}

.content_tablet.center {
  border-right: 1px solid #adadad;
  border-left: 1px solid #adadad;
}

.content_tablet.border {
  border-right: 1px solid #adadad;
}

.text_tablet {
  font-size: 18px;
  line-height: 1.5;
}

.post-text-rich p {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.5;
}

.post-text-rich ul {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.7;
  list-style: none;
}

.form {
  max-width: 500px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.label {
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 1.2;
  text-align: center;
}

.testimonial-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.testimonial-block:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.testimonial-text_block {
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.testimonial-name {
  color: #1764ff;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.testimonial-text {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.comment__img {
  margin-top: 10px;
  max-width: 300px;
  width: 100%;
  display: block;
}

.section_testimonial {
  padding-top: 0px;
  padding-bottom: 0;
}

.bold-text-2 {
  color: #d40000;
}

.ava-test {
  width: 60px;
}

.heading-2 {
  color: #d40000;
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.yarlik {
  max-width: 180px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #d40000;
  color: #fff;
  font-size: 30px;
  line-height: 1;
}

.text-block-2 {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.head-div-form {
  margin-top: 20px;
}

.title-news-hero {
  max-width: 900px;
  margin-top: 0px;
  color: #fff;
  text-align: left;
}

.subtitle-news-hero {
  margin-bottom: 20px;
  color: #333;
  font-size: 30px;
  line-height: 1.3;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .head {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .post_img {
    margin-right: 0;
    margin-top: 0;
  }

  .post-heading {
    font-size: 26px;
  }

  .head-line {
    margin-top: 20px;
  }
  #ruffle-doors{
    margin-top: 15px;
  }
  .bock-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .bock-post picture {
    align-self: center;
  }

  .list {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .list-item {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .page__container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .image-news {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .list {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
  }

  li {
    font-size: 18px;
  }

  .paragraph {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .post-text-rich ul{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .p-text-post {
    font-size: 18px;
  }

  .button {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
  }

  .list-item {
    padding-top: 7px;
    padding-bottom: 0;
  }

  .heading {
    margin-top: 0;
  }

  .list-item:last-child {
    margin-bottom: 0;
  }

  .news-quote {
    margin-bottom: 20px;
  }

  .post-text-rich p {
    margin-bottom: 20px;
    font-size: 18px;
  }

  h3 {
    margin-top: 0;
  }

  .subtitle-news-hero {
    margin-top: 10px;
  }

  .tablet {
    margin-bottom: 20px;
  }

  .image-news {
    width: 100%;
  }

  .img-description {
    margin-bottom: 20px;
  }

  .title_tablet {
    font-size: 20px;
  }

  .text_tablet {
    font-size: 16px;
  }

  .testimonial-text_block {
    padding-left: 10px;
    width: 100%;
  }

  .ava-test {
    width: 65px;
  }



  .heading-2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 479px) {
  .head {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* .list,
  .post-text-rich ul {
    padding-left: 20px;
  } */

  .date__wrp {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .autor {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    margin-right: 15px;
  }

  .title-date-wrp {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .date-public {
    margin-left: 0px;
    font-size: 17px;
  }

  .subtitle-news {
    font-size: 18px;
  }

  .image-news {
    width: 100%;
  }

  .tablet._3coll {
    overflow: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .title_tablet {
    font-size: 18px;
  }

  .form {
    padding-right: 10px;
    padding-left: 10px;
  }

  .label {
    font-size: 16px;
  }

  .heading-2 {
    font-size: 23px;
  }

  .yarlik {
    max-width: 200px;
  }

  .text-block-2 {
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 30px;
  }

  .title-news-hero {
    font-size: 26px;
  }

  .subtitle-news-hero {
    font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  #w-node-226b182f9404-3921713d {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-92aff2f81738-3921713d {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row: 4;
    grid-row-start: 4;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Harding", "Palatino", "serif";
}

.date {
  font-style: italic;
  color: #4d4d4d;
  font-size: 14px;
}


p {
  margin-bottom: 20px;
}

tr,
td {
  border: 1px solid #d6d6d6;
  padding: 5px 10px;
}

.product {
  display: block;
  margin: 30px auto 20px;
  text-align: center;
}

.action span {
  font-size: 11px;
  color: #999999;
}

.action a {
  color: #0a78c2;
  font-size: 11px;
  text-decoration: none;
}

.time {
  background-color: #66badc;
  font-size: 14px;
  color: #ffffff;
  padding: 0px 3px;
  display: inline-block;
  margin-bottom: 5px;
}

.text {
  font-size: 14px;
  font-weight: 400;
}

  .content {
    margin: 0;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }


}

@media all and (max-width: 600px) {

  .spin-wrapper {
    margin-bottom: 20px;
  }

  .subtitle-news {
    font-size: 24px;
  }

}


* {
  outline: none;
}

.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.spin-wrapper p {
  font-size: 18px;
}

.wheel {
  width: 380px !important;
  margin: 0 auto;
  position: relative;
}

.content .wheel img {
  max-width: 100%;
}

.wheel-cursor {
  position: absolute;
  width: 40% !important;
  height: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursor-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 14px;
  line-height: 1;
  z-index: 1;
  width: 45% !important;
  height: 45%;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 49%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

/* .order_block {
  display: none;
} */

.content .product img {
  width: 700px;
  max-width: 100%;
  display: block;
  margin: 0 auto 20px;
}

form {
  display: block;
  margin: 0 auto !important;
  text-align: center !important;
}

.timer {
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
  text-align: center;
}

#clock span {
  color: #f00;
  font-weight: bold;
}

label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

.form_group {
  padding: 10px;
  display: block;
  margin: 10px auto;
  border: 2px solid grey;
  border-radius: 5px;
  max-width: 330px;
  width: 100%;
}

.form_btn {
  display: block;
  max-width: 330px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: #d40000;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  border: none;
  transition: .3s opacity;
  cursor: pointer;
}

.form_btn:hover {
  opacity: 0.7;
}

/* .order_block h2 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  padding: 5px 10px;
  color: #fff;
  display: block;
  width: 100%;
  background: #0a78c2;
} */

.red {
  color: #f00;
}

.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #ffffff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  background-color: rgb(113, 195, 65);
  border-radius: 50%;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

@keyframes pop-up-appear {
  0% {
    transform: translateY(-2000px);
  }

  30% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes pop-up-appear-before {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-up-heading {
  font-size: 40px;
  display: block;
  margin-bottom: 20px;
}

.pop-up-text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.pop-up-button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(113, 195, 65);
  color: rgb(255, 255, 255);
  border: medium none;
  cursor: pointer;
  outline: medium none;
}

.pop-up-button:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.wheel img {
  max-width: 100%;
}

@media all and (max-width: 520px) {
  .wheel {
    width: 275px !important;
  }

  .spin-wrapper {
    margin-bottom: 20px;
  }

  .cursor-text {
    line-height: 36px;
    font-size: 12px;
  }
}

.super-rotation {
  -webkit-animation-name: super-rotation;
  animation-name: super-rotation;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out
}

@-webkit-keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1883deg);
    transform: rotate(1883deg)
  }

  100% {
    -webkit-transform: rotate(1874deg);
    transform: rotate(1874deg)
  }
}

@keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1883deg);
    transform: rotate(1883deg)
  }

  100% {
    -webkit-transform: rotate(1874deg);
    transform: rotate(1874deg)
  }

}



.price {
  display: flex;
  align-items: flex-end;
  margin: 0 auto !important;
  max-width: 400px;
}

.price__item {
  width: 50%;
}

.price__old {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  border-right: 1px solid #444444;
}

.price__new {
  padding-left: 10px;
}


.price__item-title {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 4px;
  font-weight: 700;
  display: flex;
}

.price__old .price__item-title {
  text-align: right;
}

.price__item-content {
  display: flex;
  color: red;
  align-items: center;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  margin: 0 !important;
}

.price__old .price__item-content {
  text-decoration: line-through;
  font-size: 18px;
  color: #333;
}

::-ms-clear {
  display: none;
}

:root {
  --width-line: 4px;
  --rotate-line: 15deg;
  --fs-price-title: 18px;
  --fs-price-value: 50px;
}

.price-header {
  display: flex;
  margin: 0 auto 15px;
  align-items: center;
  justify-content: center;
}

.price-header__elem--title {
  display: block;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  position: relative;
  z-index: 2;
}

.price-header__elem--value._old-price {
  color: #000;
}

.price-header__elem--value {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
}

.price-header__image {
  max-width: 200px;
  margin-left: 15px;
  margin-right: 15px;
}

.inL_523766 {
  width: 100%;
  display: block;
}

.old__price {
  position: relative;
  display: inline-block;
}

.old__price:before, 
.old__price:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 4px;
  background-color: red;
  transform: rotate(15deg) translateY(-50%)
}

.red {
  color: red;
}

.old__price:after {
  transform: rotate(-15deg) translateY(-50%)
}

.inL_64948 {
  width: 100%;
  max-width: 200px;
}

.inL_624131 {
  width: 100%;
  max-width: 200px;
}

@media screen and (max-width: 767px) {
  .inL_64948,
  .inL_624131 {
    max-width: 180px;
  }

  .comment__img {
    max-width: 270px;
  }
}

@media screen and (max-width: 600px) {
  .price-header__elem--value {
    font-size: 30px;
  }

  .price-header__image {
    max-width: 180px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .cell-title_tablet {
    padding-left: 5px;
    padding-right: 5px;
  }

  .title_tablet {
    font-size: 17px;
  }
}

@media screen and (max-width: 520px) {
  .title_tablet {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .inL_64948,
  .inL_624131 {
    max-width: 160px;
  }

  .tablet {
    border-top: none;
  }

  .text_tablet {
    margin-bottom: 0;
  }

  .cell-title_tablet.center {
    border-top: 1px solid #adadad;
    border-right: none;
    border-left: none;
  }

  .content_tablet.center {
    border-right: none;
    border-left: none;
  }

  .content_tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cell-title_tablet {
    border-top: 1px solid #adadad;
  }

  .comment__img {
    max-width: 240px;
  }

  .wheel {
    width: 260px !important;
  }

  .price-header__elem--title {
    font-size: 16px;
  }

  .price-header__elem--value {
    font-size: 18px;
  }

  .price-header__image {
    max-width: 120px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .old__price:before, .old__price:after {
    height: 2px;
  }

  .footer__btn {
    font-size: 18px;
    padding: 15px 5px;
  }
}